{% extends "layout.html" %}
{% block page_title %} Apply for European Structural and Investment Funding {% endblock %}
{% block content %}

  <main id="content" role="main">
    {% include "includes/phase_banner_alpha.html" %}
    <div class="main-header">
        <h1 class="heading-large">
          <span class="heading-secondary">Step 1</span>
          About your organisation
        </h1>
    </div>
    <div class="main-content">
      <form action="/project-partners">
        <fieldset>
          <legend>Organisation address</legend>
          <div class="form-group">
            <label class="form-label" for="building-name">Building number or name</label>
            <input type="text" class="form-control" id="building-name">
          </div>
          <div class="form-group">
            <label class="form-label" for="street">Street</label>
            <input type="text" class="form-control" id="street">
          </div>
          <div class="form-group">
            <label class="form-label" for="town-city">Town/city</label>
            <input type="text" class="form-control" id="town-city">
          </div>
          <div class="form-group">
            <label class="form-label" for="county">
              County
              <span class="form-hint">Eg if London, Greater London; if Manchester, Greater Manchester</span>
            </label>
            <input type="text" class="form-control" id="county">
          </div>
          <div class="form-group">
            <label class="form-label" for="postcode">Postcode</label>
            <input type="text" class="form-control small" id="postcode">
          </div>
        </fieldset>
        <fieldset>
          <legend>Organisation primary contact</legend>
          <div class="form-group">
            <label class="form-label" for="main-contact">Name of main contact</label>
            <input type="text" class="form-control" id="main-contact">
          </div>
          <div class="form-group">
            <label class="form-label" for="organisation-position">Position in organisation</label>
            <input type="text" class="form-control" id="organisation-position">
          </div>
          <div class="form-group">
            <label class="form-label" for="email-address">Email address</label>
            <input type="text" class="form-control" id="email-address">
          </div>
          <div class="form-group">
            <label class="form-label" for="contact-number">Contact number</label>
            <input type="text" class="form-control" id="contact-number">
          </div>
        </fieldset>
          <!-- submit -->
          <div class="form-group inline submit-buttons">
            <button class="button" type="submit">Save and continue</button>
            <button class="button-hyperlink">Save and quit</button>
          </div>
      </form>
    </div>
    <div class="secondary-content">
      {% include "includes/application_info.html" %}
      {% include "includes/secondary_nav.html" %}
    </div>
  </main>

{% endblock %}
