{% extends "layout.html" %}
{% block page_title %} Apply for European Structural and Investment Funding {% endblock %}
{% block content %}

  <main id="content" role="main">
    {% include "includes/phase_banner_alpha.html" %}
    {% include 'includes/page_errors.html' %}
    <div class="main-header">
        <h1 class="heading-large">
          <span class="heading-secondary">Step 1</span>
          About your organisation
        </h1>
    </div>
    <div class="main-content">
      <form action="/applicant/details" method="get">
        <fieldset>
          <legend class="visually-hidden">About your organisation</legend>
          <!-- organisation name -->
          <div class="form-group" data-required  data-field="textfield">
            <label class="form-label" for="organisation-name">Organisation name</label>
            <input type="text" class="form-control" id="organisation-name">
          </div>
          <!-- organisation type -->
          <div class="form-group">
            <label class="form-label" for="organisation-type">Organisation type</label>
              <span class="form-hint">Eligible organisations: charity, local authorities; statutory and non-statutory public funded organisations/bodies, higher and Further Education Institutions, voluntary/community organisations, private sector companies, registered charities, not for profit organisation.</span>
            <input type="text" class="form-control" id="organisation-type">
          </div>
          <!-- sme? -->
          <div class="form-group">
            <h2 class="form-label-bold">Is this a small or medium-sized organisation?</h2>
        <span class="form-hint">A small or medium-sized organisation is one with 1 to 249 employees.</span>

            <fieldset class="inline">
              <legend class="visuallyhidden">Is this a small or medium-sized organisation (1 to 249 employees)?</legend>

              <label for="sme-yes" class="block-label">
                <input type="radio" name="sme" value="Yes" id="sme-yes">
                Yes
              </label>

              <label for="sme-no" class="block-label">
                <input type="radio" name="sme" value="No" id="sme-no">
                No
              </label>
            </fieldset>
          </div>
          <!-- company or charity number-->
          <div class="form-group" data-required  data-field="textfield">
            <label class="form-label" for="company-charity-number">Company or charity registration number</label>
            <span class="form-hint">If you aren't a company or charity, skip this question</span>
            <input type="text" class="form-control" id="company-charity-number">
          </div>
          <!-- vat number -->
          <div class="form-group">
            <label class="form-label" for="vat-number">
              VAT number
              <span class="form-hint">If you don't have a VAT number, skip this question</span>
            </label>
            <input type="text" class="form-control" id="vat-number">
          </div>
          <!-- sme? -->
          <div class="form-group">
            <h2 class="form-label-bold">Has your organisation received funding from the european structural and investment funds (ESIF) programme before?</h2>
            <fieldset class="inline">
              <legend class="visuallyhidden">Has your organisation received funding from the european structural and investment funds (ESIF) programme before?</legend>

              <label for="previous-project-yes" class="block-label">
                <input type="radio" name="previous-project" value="Yes" id="previous-project-yes">
                Yes
              </label>

              <label for="previous-project-no" class="block-label">
                <input type="radio" name="previous-project" value="No" id="previous-project-no">
                No
              </label>
            </fieldset>
          </div>

          <div class="form-group inline submit-buttons">
            <button class="button" type="submit">Save and continue</button>
            <button class="button-hyperlink">Save and quit</button>
          </div>
        </fieldset>
      </form>
    </div>
    <div class="secondary-content">
      {% include "includes/application_info.html" %}
      {% include "includes/secondary_nav.html" %}
    </div>
  </main>

{% endblock %}
