<div class="application-info">
  <ul>
    <li>
      <span class="title">Call reference</span>
      <span class="contents">OC04R15P0002</span>
    </li>
    <li>
      <span class="title">Application Type</span>
      <span class="contents">Full</span>
    </li>
    <li>
      <span class="title">Created</span>
      <span class="contents">07 November 2015</span>
    </li>
    <li>
      <span class="title">Progress</span>
      <span class="contents">5 of 8 sections completed</span>
    </li>
    <li>
      <span class="title">Alerts</span>
      <span class="contents">1 section with errors</span>
    </li>
    <li>
      <span class="title">Status</span>
      <span class="contents">Incomplete</span>
    </li>
  </ul>
</div>
