{% extends "layout.html" %}
{% block page_title %} Apply for European Structural and Investment Funding {% endblock %}
{% block content %}

  <main id="content" role="main">
    {% include "includes/phase_banner_alpha.html" %}
    <div class="main-header">
        <h1 class="heading-large">
          <span class="heading-secondary">Step 2</span>
          Delivery partners
        </h1>
    </div>
    <div class="main-content">
      <form action="/project">
        <!-- sme? -->
        <div class="form-group" data-required  data-field="radio">
          <h2 class="form-label-bold">Will the project have delivery partners?</h2>
          <fieldset class="inline">
            <legend class="visuallyhidden">Will the project have delivery partners?</legend>

            <label for="partners-yes" class="block-label">
              <input type="radio" name="partners" value="Yes" id="partners-yes">
              Yes
            </label>

            <label for="partners-no" class="block-label">
              <input type="radio" name="partners" value="No" id="partners-no">
              No
            </label>
          </fieldset>
        </div>
          <!-- submit -->
          <div class="form-group inline submit-buttons">
            <button class="button" type="submit">Save and continue</button>
            <button class="button-hyperlink">Save and quit</button>
          </div>
      </form>
    </div>
    <div class="secondary-content">
      {% include "includes/application_info.html" %}
      {% include "includes/secondary_nav.html" %}
    </div>
  </main>

{% endblock %}
