{% extends "layout.html" %} {% block page_title %} Apply for European Structural and Investment Funding {% endblock %} {% block content %}

<main id="content" role="main">
  {% include "includes/phase_banner_alpha.html" %}
  <div class="breadcrumbs">
    <ol>
      <li><a href="/dashboard">About your project</a></li>
      <li>Strategy</li>
    </ol>
  </div>
  {% include 'includes/page_errors.html' %}
  <div class="main-header">
    <h1 class="heading-xlarge">
      <span class="heading-secondary">Step 4</span>
      <span class="visually-hidden">:</span>
      Strategy
    </h1>
  </div>
  <div class="main-content">
    <form action="/financial">
      <div class="form-group full" data-required data-field="textfield">
        <label for="why-funding" class="form-label">Why should the project get funding?</label>

        <span class="form-hint">WE HAVE ASKED FOR THIS INFO MORE THAN ONCE. SUGGEST WE DELETE THIS QUESTION, ASSIMILATE WITH AN EARLIER QUESTION OR CLARIFY WHAT WE WANT TO KNOW IF DIFFERENT TO EARLIER QUESTIONS.
Explain why your project is a good idea, including:
<ul>
  <li>who it will help</li>
<li>how it will help them </li>
</ul>
</span>

        <textarea class="form-control" id="why-funding" cols="30" rows="10"></textarea>
      </div>
      <div class="form-group full" data-required data-field="textfield">
        <label for="what-impact" class="form-label">What would be the impact on the project if it did not get ESIF funding?</label>

        <span class="form-hint">Can you explain:
<ul>
<li>who will be affected </li>
<li>how they will be affected </li>
<ul>
</span>

        <textarea class="form-control" id="what-impact" cols="30" rows="10"></textarea>
      </div>
      <div class="form-group" data-required data-field="radio">
        <h2 class="form-label-bold">Is any one else conducting or planning activities similar to the project?</h2>

        <span class="form-hint">
Tell us if another organization has a similar service or project. If there is another service provider/project manager, explain how their service/project is different to yours.
</span>

        <fieldset class="inline">
          <legend class="visuallyhidden">Is any one else conducting or planning activities similar to the project?</legend>

          <label for="activities-yes" class="block-label">
            <input type="radio" name="sme" value="Yes" id="activities-yes">
            Yes
          </label>

          <label for="activities-no" class="block-label">
            <input type="radio" name="sme" value="No" id="activities-no">
            No
          </label>
        </fieldset>
      </div>

      <!-- submit -->
      <div class="form-group inline submit-buttons">
        <button class="button" type="submit">Save and continue</button>
        <button class="button-hyperlink">Save and quit</button>
      </div>
    </form>
  </div>
  <div class="secondary-content">
    <div class="application-info">
      <ul>
        <li>
          <span class="title">Call reference</span>
          <span class="contents">OC04R15P0002</span>
        </li>

        <li>
          <span class="title">Application Type</span>
          <span class="contents">Full</span>
        </li>

        <li>
          <span class="title">Created</span>
          <span class="contents">07 November 2015</span>
        </li>

        <li>
          <span class="title">Progress</span>
          <span class="contents">5 of 8 sections completed</span>
        </li>

        <li>
          <span class="title">Status</span>
          <span class="contents">Incomplete</span>
        </li>
      </ul>
    </div>
    <nav class="secondary-nav">
      <h3>Your dashboard</h3>
      <ul>
        <li>
          <a href="/dashboard">My tasks</a>
        </li>
        <li>
          <a href="/dashboard">Existing applications</a>
        </li>
        <li>
          <a href="/dashboard">Projects</a>
        </li>
      </ul>
    </nav>
  </div>
</main>

{% endblock %}
