{% extends "layout.html" %} {% block page_title %} Apply for European Structural and Investment Funding {% endblock %} {% block content %}

<main id="content" role="main">
  {% include "includes/phase_banner_alpha.html" %}
  <div class="breadcrumbs">
    <ol>
      <li><a href="/dashboard">About your project</a></li>
      <li>Key dates</li>
    </ol>
  </div>
  <div class="main-header">
    <h1 class="heading-xlarge">
      <span class="heading-secondary">Step 4</span>
      <span class="visually-hidden">:</span>
      Strategy
    </h1>
  </div>
  <div class="main-content">
    <form action="/strategy/funding">
      <div class="form-group full">
        <label for="strategy-criteria" class="form-label">How does the project meet the call criteria?</label>
        <textarea class="form-control" id="strategy-criteria" cols="30" rows="10"></textarea>
      </div>
      <div class="form-group full">
        <label for="strategy-objectives" class="form-label">How does the project deliver the programme's objectives?</label>
        <textarea class="form-control" id="strategy-objectives" cols="30" rows="10"></textarea>
      </div>
      <div class="form-group">
        <h2 class="form-label-bold">Does the project align with the growth priorities of the local ESIF strategy?</h2>
        <fieldset class="inline">
          <legend class="visuallyhidden">Does the project align with the growth priorities of the local ESIF strategy?</legend>

          <label for="local-yes" class="block-label">
            <input type="radio" name="sme" value="Yes" id="local-yes">
            Yes
          </label>

          <label for="local-no" class="block-label">
            <input type="radio" name="sme" value="No" id="local-no">
            No
          </label>
        </fieldset>
      </div>

      <div class="form-group">
        <h2 class="form-label-bold">Will the project have environmental benefits?</h2>
        <fieldset class="inline">
          <legend class="visuallyhidden">Will the project have environmental benefits?</legend>

          <label for="benefits-yes" class="block-label">
            <input type="radio" name="sme" value="Yes" id="benefits-yes">
            Yes
          </label>

          <label for="benefits-no" class="block-label">
            <input type="radio" name="sme" value="No" id="benefits-no">
            No
          </label>
        </fieldset>
      </div>

      <div class="form-group form-group-year">
        <label for="ensure-equality">
          How do you plan to ensure equality across the project?
          <span class="form-hint">
            Include issues of sex, gender, race and religion if appropriate.
          </span>
        </label>
        <textarea class="form-control" id="ensure-equality" cols="30" rows="10"></textarea>
      </div>

      <!-- submit -->
      <div class="form-group inline submit-buttons">
        <button class="button" type="submit">Save and continue</button>
        <button class="button-hyperlink">Save and quit</button>
      </div>
    </form>
  </div>
  <div class="secondary-content">
    <div class="application-info">
      <ul>
        <li>
          <span class="title">Call reference</span>
          <span class="contents">OC04R15P0002</span>
        </li>

        <li>
          <span class="title">Application Type</span>
          <span class="contents">Full</span>
        </li>

        <li>
          <span class="title">Created</span>
          <span class="contents">07 November 2015</span>
        </li>

        <li>
          <span class="title">Progress</span>
          <span class="contents">5 of 8 sections completed</span>
        </li>

        <li>
          <span class="title">Status</span>
          <span class="contents">Incomplete</span>
        </li>
      </ul>
    </div>
    <nav class="secondary-nav">
      <h3>Your dashboard</h3>
      <ul>
        <li>
          <a href="/dashboard">My tasks</a>
        </li>
        <li>
          <a href="/dashboard">Existing applications</a>
        </li>
        <li>
          <a href="/dashboard">Projects</a>
        </li>
      </ul>
    </nav>
  </div>
</main>

{% endblock %}
