{% extends "layout.html" %}
{% block page_title %} Apply for European Structural and Investment Funding {% endblock %}
{% block content %}

  <main id="content" role="main">
    {% include "includes/phase_banner_alpha.html" %}
    <div class="breadcrumbs">
      <ol>
        <li><a href="/application-dashboard">Home</a></li>
        <li><a href="/call-list">Call list</a></li>
        <li><a href="/application-dashboard">Application overview</a></li>
        <li>Strategy</li>
        <li>Strategic fit</li>
      </ol>
    </div>
    {% include 'includes/page_errors.html' %}
    <div class="main-header">
        <h1 class="heading-large">
          <span class="heading-secondary">Strategy (1 of 4)</span>
          Strategic fit
        </h1>
    </div>
    <div class="main-content">
      <form action="/strategy/cross-cutting-themes" method="get">
        <fieldset>
          <legend class="visually-hidden">Strategic fit</legend>
          <!-- What is the project? -->
            <div class="form-group full" data-required="" data-field="textfield">
              <label for="criteria" class="form-label">How does the project satisfy the call criteria?</label>
              <textarea class="form-control" id="criteria" cols="30" rows="5"></textarea>
            </div>
            <!-- summary -->
            <div class="form-group full" data-required="" data-field="textfield">
              <label for="award" class="form-label">Why does the project merit the award of funds?</label>
              <textarea class="form-control" id="award" cols="30" rows="5"></textarea>
            </div>
            <!-- specific activities -->
            <div class="form-group full" data-required="" data-field="textfield">
              <label for="specific-objectives" class="form-label">Explain how the project represents an appropriate means of delivering the relevant specific objectives and results of the relevant priorities set out in the Operational Programme and how it fits the guiding principles for selection within each Priority Axis</label>
              <textarea class="form-control" id="specific-objectives" cols="30" rows="5"></textarea>
            </div>
            <!-- beneficiaries -->
            <div class="form-group full" data-required="" data-field="textfield">
              <label for="who" class="form-label">Explain how the project is aligned to the local growth needs set out in the local ESIF strategy/strategies</label>
              <textarea class="form-control" id="who" cols="30" rows="5"></textarea>
            </div>
            <!-- project activity -->
            <div class="form-group full" data-required="" data-field="textfield">
              <label for="lep-area" class="form-label">Identify any organisation offering the same or similar activity.</label>
              <span class="form-hint">Explain how the proposed project adds value to and doesn't duplicate existing provision and does not conflict with national policy</span>
              <textarea class="form-control" id="lep-area" cols="30" rows="5"></textarea>
            </div>
            <!--submit buttons -->
            <div class="form-group inline submit-buttons">
              <button class="button" type="submit">Save and continue</button>
              <a href="/application-dashboard" class="button button-secondary">Cancel and return to dashboard</a>
            </div>
        </fieldset>
      </form>
    </div>
    <div class="secondary-content">
      {% include "includes/application_info.html" %}
      {% include "includes/secondary_nav.html" %}
    </div>
  </main>

{% endblock %}
