{% extends "layout.html" %}
{% block page_title %} Apply for European Structural and Investment Funding {% endblock %}
{% block content %}

  <main id="content" role="main">
    {% include "includes/phase_banner_alpha.html" %}
    <div class="main-header">
        <h1 class="heading-large">
          <span class="heading-secondary">Step 3</span>
          About your project
        </h1>
    </div>
    <div class="main-content">
      <form action="/project/key-dates">
        <div class="form-group">
          <label class="form-label" for="project-name">Project name</label>
          <input type="text" class="form-control" id="project-name">
        </div>
        <div class="form-group full">
          <label for="project-summary" class="form-label">Project summary</label>

          <span class="form-hint">Explain what the project will do and why. For example: 'The project will pay for a tutor. The tutor will teach after-school classes on computer coding and these classes will be free to school students.  The aim is to reduce youth unemployment'.</span>
          <textarea class="form-control" id="project-summary" cols="30" rows="10"></textarea>
        </div>
        <div class="form-group full">
          <label for="project-benefit" class="form-label">Who will your project help?</label>
          <textarea class="form-control" id="project-benefit" cols="30" rows="10"></textarea>
        </div>
        <div class="form-group full">
          <label for="project-located" class="form-label">Project location</label>
          <textarea class="form-control" id="project-located" cols="30" rows="10"></textarea>
        </div>
        <!-- sme? -->
        <div class="form-group">
          <h2 class="form-label-bold">Does your project cover any Local Enterprise Partnership (LEP) areas?</h2>
          <fieldset class="inline">
            <legend class="visuallyhidden">Does your project cover an LEP?</legend>
            <span class="form-hint">To find out whether your project overlaps with a LEP, refer to the information you got from
              <a href="https://www.gov.uk/european-structural-investment-funds"> Funding Finder</a> (FF). From that information, look for the 'Location' section. This section has see a list of LEPs covered by your fund.</a></span>

            <label for="lep-yes" class="block-label">
              <input type="radio" name="lep" value="Yes" id="lep-yes">
              Yes
            </label>

            <label for="lep-no" class="block-label">
              <input type="radio" name="lep" value="No" id="lep-no">
              No
            </label>
          </fieldset>
        </div>
        <!-- sme? -->
        <div class="form-group">
          <h2 class="form-label-bold">Did the approval of your outline application include any conditions or recommendations?</h2>
          <fieldset class="inline">
            <legend class="visuallyhidden">Did the approval of your outline application include any conditions or recommendations?</legend>

            <label for="conditions-yes" class="block-label">
              <input type="radio" name="conditions" value="Yes" id="conditions-yes">
              Yes
            </label>

            <label for="conditions-no" class="block-label">
              <input type="radio" name="conditions" value="No" id="conditions-no">
              No
            </label>
          </fieldset>
        </div>
          <!-- submit -->
          <div class="form-group inline submit-buttons">
            <button class="button" type="submit">Save and continue</button>
            <button class="button-hyperlink">Save and quit</button>
          </div>
      </form>
    </div>
    <div class="secondary-content">
      {% include "includes/application_info.html" %}
      {% include "includes/secondary_nav.html" %}
    </div>
  </main>

{% endblock %}
