{% extends "layout.html" %}
{% block page_title %} Apply for European Structural and Investment Funding {% endblock %}
{% block content %}

  <main id="content" role="main">
    {% include "includes/phase_banner_alpha.html" %}
    <div class="breadcrumbs">
      <ol>
        <li><a href="/dashboard">About your project</a></li>
        <li>Dates</li>
      </ol>
    </div>
    {% include "includes/page_errors.html" %}
    <div class="main-header">
        <h1 class="heading-xlarge">
          <span class="heading-secondary">Step 3</span>
          <span class="visually-hidden">:</span>
          Key dates
        </h1>
    </div>
    <div class="main-content">
      <form action="/strategy">
        <!-- project start date -->
        <fieldset class="form-group form-date" data-required data-field="date">
          <h3 class="heading-small">Project start date</h3>
          <legend class="visually-hidden">Project start date</legend>
          <div>

            <p class="form-hint">If your project start date depends on when/if your application is approved, please use your ideal start date.</p>

            <div class="form-group form-group-day">
              <label for="start-date-day">Day</label>
              <input class="form-control" id="start-date-day" name="start-date-day" type="number" pattern="[0-9]*" min="0" max="31">
            </div>

            <div class="form-group form-group-month">
              <label for="start-date-month">Month</label>
              <input class="form-control" id="start-date-month" name="start-date-month" type="number" pattern="[0-9]*" min="0" max="12">
            </div>

            <div class="form-group form-group-year">
              <label for="start-date-year">Year</label>
              <input class="form-control" id="start-date-year" name="start-date-year" type="number" pattern="[0-9]*" min="0" max="2014">
            </div>

          </div>
        </fieldset>

        <!-- financial completion date -->
        <fieldset class="form-group form-date" data-required data-field="date" data-error="Use correct format">
          <h3 class="heading-small">Financial completion date</h3>
          <legend class="visually-hidden">Financial completion date</legend>
          <div>

            <p class="form-hint">If your financial completion date depends on when/if your application is approved, please use an estimated financial completion date based on your ideal start date.</p>

            <div class="form-group form-group-day">
              <label for="completion-date-day">Day</label>
              <input class="form-control" id="completion-date-day" name="completion-date-day" type="number" pattern="[0-9]*" min="0" max="31">
            </div>

            <div class="form-group form-group-month">
              <label for="completion-date-month">Month</label>
              <input class="form-control" id="completion-date-month" name="completion-date-month" type="number" pattern="[0-9]*" min="0" max="12">
            </div>

            <div class="form-group form-group-year">
              <label for="completion-date-year">Year</label>
              <input class="form-control" id="completion-date-year" name="completion-date-year" type="number" pattern="[0-9]*" min="0" max="2014">
            </div>

          </div>
        </fieldset>

        <!-- financial completion date -->
        <fieldset class="form-group form-date" data-required data-field="date" data-error="Use correct format">
          <h3 class="heading-small">Project end date</h3>
          <legend class="visually-hidden">Project end date</legend>
          <div>

            <p class="form-hint">If your project end date depends on when/if your application is approved, please use an estimated project end date based on your ideal start date.</p>

            <div class="form-group form-group-day">
              <label for="end-date-day">Day</label>
              <input class="form-control" id="end-date-day" name="end-date-day" type="number" pattern="[0-9]*" min="0" max="31">
            </div>

            <div class="form-group form-group-month">
              <label for="end-date-month">Month</label>
              <input class="form-control" id="end-date-month" name="end-date-month" type="number" pattern="[0-9]*" min="0" max="12">
            </div>

            <div class="form-group form-group-year">
              <label for="end-date-year">Year</label>
              <input class="form-control" id="end-date-year" name="end-date-year" type="number" pattern="[0-9]*" min="0" max="2014">
            </div>

          </div>
        </fieldset>

        <fieldset class="form-group">
          <legend class="heading-medium">
            List any project milestones and dates that they will be met.
          </legend>
          <div class="repeat">
            <div class="form-group" data-required data-field="textfield" data-error="Cannot be empty">
              <label class="form-label" for="milestone-description">Milestone Description</label>
              <input type="text" class="form-control" id="milestone-description">
            </div>
            <!-- financial completion date -->
            <fieldset class="form-group form-date" data-required data-field="date" data-error="Use correct format">
              <h3 class="heading-small">Milestone date</h3>
              <legend class="visually-hidden">Milestone date</legend>
              <div>

                <p class="form-hint">For example, 31 5 2016</p>

                <div class="form-group form-group-day">
                  <label for="milestone-date-day">Day</label>
                  <input class="form-control" id="milestone-date-day" name="milestone-date-day" type="number" pattern="[0-9]*" min="0" max="31">
                </div>

                <div class="form-group form-group-month">
                  <label for="milestone-date-month">Month</label>
                  <input class="form-control" id="milestone-date-month" name="milestone-date-month" type="number" pattern="[0-9]*" min="0" max="12">
                </div>

                <div class="form-group form-group-year">
                  <label for="milestone-date-year">Year</label>
                  <input class="form-control" id="milestone-date-year" name="milestone-date-year" type="number" pattern="[0-9]*" min="0" max="2014">
                </div>

              </div>
            </fieldset>
          </div>
        </fieldset>

          <!-- submit -->
          <div class="form-group inline submit-buttons">
            <button class="button" type="submit">Save and continue</button>
            <button class="button-hyperlink">Save and quit</button>
          </div>
      </form>
    </div>
    <div class="secondary-content">
      {% include "includes/application_info.html" %}
      {% include "includes/secondary_nav.html" %}
    </div>
  </main>

{% endblock %}
