.shout {
  font-weight:700;
  text-transform: uppercase;
}
.strong {
  font-weight:700;
}
caption.heading-medium {
  margin-bottom:0;
}
.error-summary a{
  font-weight: 700;
  color:$error-colour;
}
.main-header {
  padding-top:$gutter;
  padding-bottom: $gutter;
  .heading-large {
    margin:0;
  }
}

fieldset legend:first-child{
  margin-bottom:$gutter-half;
}
