.button-hyperlink {
  @include core-19;
  text-transform: none;
  background: none;
  outline: none;
  border: none;
  color: $link-colour;
  text-decoration: underline;
  text-align: left;
  padding: $gutter-half/2;
  margin-left:$gutter;
  cursor:pointer;
  &:hover {
    color:$link-hover-colour;
  }
}
legend {
  @include bold-24();
  display:inline-block;
}
fieldset{
  padding-top:$gutter;
  &:first-child{
    padding-top:0;
  }
  &.inline {
    padding-top:0;
  }
}
.main-content .form-group {
  .form-control{
    &[type='text'] {
      width:75%;
    }
    &.small {
      width:40%;
    }
  }
  textarea.form-control{
    width:95%;
  }
}
.repeat {
  .form-group {
    legend.heading-small {
      margin-top:0;
    }
  }
}
