.button-hyperlink {
  @include core-19;
  text-transform: none;
  background: none;
  outline: none;
  border: none;
  color: $link-colour;
  text-decoration: underline;
  text-align: left;
  padding: $gutter-half/2;
  margin-left:$gutter;
  cursor:pointer;
  &:hover {
    color:$link-hover-colour;
  }
}
legend {
  @include bold-24();
  margin-bottom:$gutter-half;
  display:inline-block;
}
fieldset{
  padding-top:$gutter;
  &:first-child{
    padding-top:0;
  }
}
.main-content .form-group {
  .form-control{
    &.small {
      width:40%;
    }
  }
}
