@import "grid_layout";

.main-content {
  @include grid-column(2/3);
  padding-left:0;
  .form-group {
    @include grid-column(3/4);
    clear:both;
    &.full {
      float:none;
      width:100%;
    }
    padding-left:0;
    .form-control {
      width:100%;
    }
  }
}

.secondary-content {
  @include grid-column(1/3);
}
