.output {
  &:before { content:"\00a3"; }
}
.notice {
  float:left;
  margin:$gutter 0 $gutter-half 0;
}

#dialogheader {
  margin-top:0;
}

.prefixed-field {
  .currency_pound {
  	width: $gutter-half;
  	float: left;
  	padding-left: $gutter-half;
  	padding-right: $gutter-half;
  	font-weight: 400;
  	text-transform: none;
  	padding-top: 7px;
  	padding-bottom: 2px;
  	display: inline-block;
  	text-align: center;
  	background: $panel-colour;
    border: 2px solid black;
    border-right: none;
  }
  input {
    border-left:none;
  }
}

details {
  margin-top:$gutter-half;
}

.cost-table {
  .column-third {
    width:15%;
  }
  .column-two-thirds {
    width:85%;
  }
  .column-quarter {
    padding:0;
  }
  label {
    // @include heading-small;
    margin-top:0;
  }
  input.string.form-control {
    width:77%;
  }
  .heading-small {
    margin-top:0;
  }
  .prefixed-field .currency_pound {
    padding:5px 3px 4px;
  }

}
