caption {
  // @include bold-24();
  text-align:left;
}
.table-paginated {
  margin:$gutter 0;
  table {
    margin-bottom:$gutter-half/2;
  }
  caption.heading-medium {
    margin-top:0;
  }
}
.table-pagination {
  @include clearfix;
  margin-top:$gutter;
  ul {
    @include clearfix;
    float:right;
    margin:0;
    padding:0;
  }
  li {
    display:inline;
    float:left;
    margin-right:$gutter-half/2;
    &:last-child {
      margin-right:0;
    }
  }
}
.pagination-number {
  float:left;margin:0;
}
.table-wrapper  {
  table {
    margin-bottom:$gutter;
  }
  th {
    vertical-align: top;
  }
  th,td {
    width: 50%;
  }
}
.inline-table {
  margin:$gutter 0;
}
