{% extends "layout.html" %} {% block page_title %} Apply for European Structural and Investment Funding {% endblock %} {% block content %}

<main id="content" role="main">
  {% include "includes/phase_banner_alpha.html" %}

  <div class="breadcrumbs">
    <ol>
      <li><a href="/dashboard">About your project</a></li>
      <li>Financial information</li>
    </ol>
  </div>
  {% include 'includes/page_errors.html' %}
  <div class="main-header">
    <h1 class="heading-xlarge">
      <span class="heading-secondary">Step 4</span>
      <span class="visually-hidden">:</span>
      Financial information
    </h1>
  </div>
  <div class="main-content">
    <form action="/financial/costs">
      <div class="form-group full" data-required data-field="textfield">
        <label for="budget-spent" class="form-label">How will the project budget be spent?</label>
          <span class="form-hint">
            <p>Give a breakdown of all costs for your project, eg:</p>
            <ul>
              <li>'room hire for 2 months - £16,000'</li>
              <li>'equipment hire, projector, one week - £200'</li>
            </ul>
          </span>
        <textarea class="form-control" id="budget-spent" cols="30" rows="10"></textarea>
      </div>
      <div class="form-group full" data-required data-field="textfield">
        <label for="accurate-estimate" class="form-label">How accurate is your cost estimate?</label>
        <span class="form-hint">
          <p>Answer:<p>
          <ul>
            <li>'accurate' for any costs that have been quoted by a supplier
              <li>'estimate' for any costs that may change</li>
            </ul>

              </span>
        <textarea class="form-control" id="accurate-estimate" cols="30" rows="10"></textarea>
      </div>
      <div class="form-group" data-required data-field="radio">
        <h2 class="form-label-bold">Will the project reclaim irrecoverable VAT?</h2>

<span class="form-hint">
<p>Irrecoverable Value-Added Tax (VAT) is VAT that can’t be claimed back.</p>
<p>You can’t reclaim VAT for:</p>
  <ul>
<li>anything that’s only for private use</li>
<li>goods and services your business uses to make VAT-exempt supplies</li>
<li>business entertainment costs</li>
<li>anything you’ve bought from other EU countries (you may be able to reclaim VAT charged under the electronic cross-border refund system)</li>
<li>goods sold to you under one of the VAT second-hand margin schemes</li>
<li>business assets that are transferred to you as a going concern</li>
</ul>

<p>Irrecoverable VAT can sometimes be reclaimed.</p>
<p>Exemptions include:</p>
<ul>
  <li>List exemption 1 (Martin to explain)</li>
    <li>List exemption 2  (Martin to explain)</li>
      <li>List exemption 3  (Martin to explain)</li>
</ul>
  </span>


        <fieldset class="inline">
          <legend class="visuallyhidden">Will the project reclaim irrecoverable VAT?</legend>

          <label for="vat-yes" class="block-label">
            <input type="radio" name="vat" value="Yes" id="vat-yes">
            Yes
          </label>

          <label for="vat-no" class="block-label">
            <input type="radio" name="vat" value="No" id="vat-no">
            No
          </label>
        </fieldset>
      </div>

      <div class="form-group full" data-required data-field="textfield">
        <label for="match-funding" class="form-label">Who is providing match funding for the project?</label>

        <span class="form-hint">
'Match funding' is where a person or organization agrees to match any funds raised independently by a Fundraiser.

For example: if the Fundraiser raises £500 for a new sign, the match-funder will also contribute £500. The Fundraiser ends up with £1000.
</span>

        <textarea class="form-control" id="match-funding" cols="30" rows="10"></textarea>
      </div>
      <div class="form-group" data-required data-field="radio">
        <h2 class="form-label-bold">Is match funding confirmed?</h2>

        <span class="form-hint">
Match funding is confirmed where the sponsor agrees to match any funds raised by the fundraiser.
</span>
        <fieldset class="inline">
          <legend class="visuallyhidden">Is match funding confirmed?</legend>

          <label for="funding-confirmed-yes" class="block-label">
            <input type="radio" name="funding-confirmed" value="Yes" id="funding-confirmed-yes">
            Yes
          </label>

          <label for="funding-confirmed-no" class="block-label">
            <input type="radio" name="funding-confirmed" value="No" id="funding-confirmed-no">
            No
          </label>
        </fieldset>
      </div>
      <div class="form-group" data-required data-field="radio">
        <h2 class="form-label-bold">Do you expect the project to generate income?</h2>

        <fieldset class="inline">
          <legend class="visuallyhidden">Do you expect the project to generate income?</legend>
<span class="form-hint">If 'yes', give an estimated income.</span>

          <label for="generate-income-yes" class="block-label">
            <input type="radio" name="generate-income" value="Yes" id="generate-income-yes">
            Yes
          </label>

          <label for="generate-income-no" class="block-label">
            <input type="radio" name="generate-income" value="No" id="generate-income-no">
            No
          </label>
        </fieldset>
      </div>
      <!-- submit -->
      <div class="form-group inline submit-buttons">
        <button class="button" type="submit">Save and continue</button>
        <button class="button-hyperlink">Save and quit</button>
      </div>
    </form>
  </div>
  <div class="secondary-content">
    {% include "includes/application_info.html" %}
    {% include "includes/secondary_nav.html" %}
  </div>
</main>

{% endblock %}
