{% extends "layout.html" %} {% block page_title %} Apply for European Structural and Investment Funding {% endblock %} {% block content %}

<main id="content" role="main">
  {% include "includes/phase_banner_alpha.html" %}
  <div class="breadcrumbs">
    <ol>
      <li><a href="/dashboard">About your project</a></li>
      <li>Financial information</li>
    </ol>
  </div>
  <div class="main-header">
    <h1 class="heading-xlarge">
      <span class="heading-secondary">Step 4</span>
      <span class="visually-hidden">:</span>
      Financial information
    </h1>
  </div>
  <div class="main-content">
    <form action="/financial/costs">
      <div class="form-group full" data-required data-field="textfield">
        <label for="budget-spent" class="form-label">How will the project budget be spent?</label>
        <textarea class="form-control" id="budget-spent" cols="30" rows="10"></textarea>
      </div>
      <div class="form-group full" data-required data-field="textfield">
        <label for="accurate-estimate" class="form-label">How accurate is your cost estimate?</label>
        <textarea class="form-control" id="accurate-estimate" cols="30" rows="10"></textarea>
      </div>
      <div class="form-group" data-required data-field="radio">
        <h2 class="form-label-bold">Will the project reclaim irrecoverable VAT?</h2>
        <fieldset class="inline">
          <legend class="visuallyhidden">Will the project reclaim irrecoverable VAT?</legend>

          <label for="vat-yes" class="block-label">
            <input type="radio" name="vat" value="Yes" id="vat-yes">
            Yes
          </label>

          <label for="vat-no" class="block-label">
            <input type="radio" name="vat" value="No" id="vat-no">
            No
          </label>
        </fieldset>
      </div>

      <div class="form-group full" data-required data-field="textfield">
        <label for="match-funding" class="form-label">Who is providing match funding for the project?</label>
        <textarea class="form-control" id="match-funding" cols="30" rows="10"></textarea>
      </div>
      <div class="form-group" data-required data-field="radio">
        <h2 class="form-label-bold">Is match funding confirmed?</h2>
        <fieldset class="inline">
          <legend class="visuallyhidden">Is match funding confirmed?</legend>

          <label for="funding-confirmed-yes" class="block-label">
            <input type="radio" name="funding-confirmed" value="Yes" id="funding-confirmed-yes">
            Yes
          </label>

          <label for="funding-confirmed-no" class="block-label">
            <input type="radio" name="funding-confirmed" value="No" id="funding-confirmed-no">
            No
          </label>
        </fieldset>
      </div>
      <div class="form-group" data-required data-field="radio">
        <h2 class="form-label-bold">Do you expect the project to generate income?</h2>
        <fieldset class="inline">
          <legend class="visuallyhidden">Do you expect the project to generate income?</legend>

          <label for="generate-income-yes" class="block-label">
            <input type="radio" name="generate-income" value="Yes" id="generate-income-yes">
            Yes
          </label>

          <label for="generate-income-no" class="block-label">
            <input type="radio" name="generate-income" value="No" id="generate-income-no">
            No
          </label>
        </fieldset>
      </div>
      <!-- submit -->
      <div class="form-group inline submit-buttons">
        <button class="button" type="submit">Save and continue</button>
        <button class="button-hyperlink">Save and quit</button>
      </div>
    </form>
  </div>
  <div class="secondary-content">
    {% include "includes/application_info.html" %}
    {% include "includes/secondary_nav.html" %}
  </div>
</main>

{% endblock %}
