{% extends "layout.html" %} {% block page_title %} Apply for European Structural and Investment Funding {% endblock %} {% block content %}

<main id="content" role="main">
  {% include "includes/phase_banner_alpha.html" %}
  <div class="breadcrumbs">
    <ol>
      <li><a href="/dashboard">About your project</a></li>

      <li>Financial information</li>
    </ol>
  </div>
  <div class="main-header">
    <h1 class="heading-xlarge">
      <span class="heading-secondary">Step 5</span>
      <span class="visually-hidden">:</span>
      Financial information
    </h1>
  </div>
  <div class="main-content">
    <form action="/financial/costs">

      <div class="form-group full">
        <label for="managed-authorised" class="form-label">How will ESIF payments be managed and authorised?</label>
         <span class="form-hint">
Please give the name and contact details for the individual who will:
•	Request funds from ESIF
•	Check funds have been received
•	Transfer funds
</span>

        <textarea class="form-control" id="managed-authorised" rows="10"></textarea>
      </div>

      <div class="form-group full">
        <label for="cashflow-managed" class="form-label">How will the project's cashflow be managed?</label>
        <span class="form-hint">
<p>How will you make sure that employees/volunteers:</p>
<ul>
<li>Have access to money when they need it?</li>
<li>Know who to request money from and when to request it?</li>
<li>Don’t experience delays with getting money?</li>
<li>Don't overspend?</li>
</ul>
</span>


        <textarea class="form-control" id="cashflow-managed" rows="10"></textarea>
      </div>

      <div class="form-group full">
        <label for="defrayed-expenditure" class="form-label">How will you ensure only eligable and defrayed expenditure is included in claims?</label>
        <textarea class="form-control" id="defrayed-expenditure" rows="10"></textarea>
      </div>

      <div class="form-group full">
        <label for="checked-verified" class="form-label">How will costs be checked and verified?</label>
        <textarea class="form-control" id="checked-verified" rows="10"></textarea>
      </div>

      <div class="form-group full">
        <label for="partners-report" class="form-label">How will you and your partners report on ESIF expenditure?</label>
        <textarea class="form-control" id="partners-report" rows="10"></textarea>
      </div>

      <!-- submit -->
      <div class="form-group inline submit-buttons">
        <button class="button" type="submit">Save and continue</button>
        <button class="button-hyperlink">Save and quit</button>
      </div>
    </form>
  </div>
  <div class="secondary-content">
    {% include "includes/application_info.html" %}
    {% include "includes/secondary_nav.html" %}
  </div>
</main>

{% endblock %}
