{% extends "layout.html" %} {% block page_title %} Apply for European Structural and Investment Funding {% endblock %} {% block content %}

<main id="content" role="main">
  {% include "includes/phase_banner_alpha.html" %}
  <div class="main-header">
    <h1 class="heading-large">Welcome FirstName LastName</h1>
  </div>
  <div class="main-content">
    <h2 class="heading-medium">How to apply</h2>
    <h3 class="heading-small">Start a new application:</h3>
    <ul class="list list-bullet">
      <li> <a href="https://www.gov.uk/guidance/england-2014-to-2020-european-structural-and-investment-funds">Read about the 3 funds</a> (GOV.UK)</li>
      <li>Choose a fund to apply for: <a href="https://www.gov.uk/european-structural-investment-funds">Fund Finder tool</a></li>
      <li>Need help choosing a fund? <a href="mailto:esif@communities.gsi.gov.uk">Email us</a> </li>
    </ul>

    <a class="button button-start" href="/call-list" role="button">Start now</a>

    <h3 class="heading-small">Resume a draft application:</h3>
    <ul class="list list-bullet">
      <li>To save a draft application click save</li>
      <li>To resume a draft application click resume</li>
      <li>Need help with your application? <a href="mailto:esif@communities.gsi.gov.uk">Email the Department for Communities and Local Government</a> (DCLG)</li>
    </ul>


  </div>
  <div class="table-paginated">
    <table>
      <caption class="heading-medium">Your tasks</caption>
      <thead>
        <tr>
          <th scope="col">Reference number</th>
          <th scope="col">Project name</th>
          <th scope="col" class="numeric">Last edited</th>
          <th scope="col">Status</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td colspan="4">No tasks yet</td>
        </tr>
      </tbody>
    </table>
    <div class="table-pagination">
      <ul>
        <li><a href="#">Previous</a></li>
        <li><a href="#">Next</a></li>
      </ul>
    </div>
  </div>
  <div class="table-paginated">
    <table>
      <caption class="heading-medium">Your current applications</caption>
      <thead>
        <tr>
          <th scope="col">Reference number</th>
          <th scope="col">Project name</th>
          <th scope="col" class="numeric">Last Edited</th>
          <th scope="col">Status</th>
          <th scope="col">Type</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td colspan="5">No applications yet</td>
        </tr>
      </tbody>
    </table>
    <div class="table-pagination">
      <ul>
        <li><a href="#">Previous</a></li>
        <li><a href="#">Next</a></li>
      </ul>
    </div>
  </div>
  <div class="table-paginated">
    <table>
      <caption class="heading-medium">Your active projects</caption>
      <thead>
        <tr>
          <th scope="col">Reference number</th>
          <th scope="col">Project name</th>
          <th scope="col" class="numeric">Last Edited</th>
          <th scope="col">Status</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td colspan="4">No applications yet</td>
        </tr>
      </tbody>
    </table>
    <div class="table-pagination">
      <ul>
        <li><a href="#">Previous</a></li>
        <li><a href="#">Next</a></li>
      </ul>
    </div>
  </div>
</main>
{% endblock %}
