{% extends "layout.html" %}
{% block page_title %} Apply for European Structural and Investment Funding {% endblock %}
{% block content %}

  <main id="content" role="main">
    {% include "includes/phase_banner_alpha.html" %}
    <div class="main-header">
        <h1 class="heading-large">Welcome FirstName LastName</h1>
    </div>
    <div class="main-content">
        <h2 class="heading-medium">How to apply</h2>
<p>Start a new application:</p>
<ul>
  <li> <a href="https://www.gov.uk/guidance/england-2014-to-2020-european-structural-and-investment-funds">Read about the 3 funds</a> (GOV.UK)</li>
<li>Choose a fund to apply for: <a href="https://www.gov.uk/european-structural-investment-funds">Fund Finder tool</a></li>
<li>Need help choosing a fund? <a href="mailto:esif@communities.gsi.gov.uk">Email us</a> </li>
</ul>
</br>
<p>Resume a draft application:</p>
<ul>
<li>To save a draft application click save</li>
<li>To resume a draft application click resume</li>
<li>Need help with your application? <a href="mailto:esif@communities.gsi.gov.uk">Email the Department for Communities and Local Government</a> (DCLG)</li>
</ul>


    </div>
    <table>
      <caption class="heading-medium">Your current applications</caption>
      <thead>
        <tr>
          <th scope="col">Project Name</th>
          <th scope="col">Call Reference</th>
          <th scope="col" class="numeric">Last Edited</th>
          <th scope="col">Status</th>
          <th scope="col">Type</th>
          <th scope="col">resumeLink</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Test Mp ERDF(F) 150930</td>
          <td>OC04RP0002</td>
          <td class="numeric">07/11/2015 10:15</td>
          <td>In Progress</td>
          <td>Full</td>
          <td><a href="full-application.html">resume</a></td>
        </tr>
        <tr>
          <td>Test 2</td>
          <td>OC04RP0002</td>
          <td class="numeric">07/11/2015 10:15</td>
          <td>In Progress</td>
          <td>Full</td>
          <td><a href="full-application.html">resume</a></td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="6">
              <span class="strong">Showing 1 to 4 of 4 entries</span>
          </td>
        </tr>
      </tfoot>
    </table>
  </main>
{% endblock %}
