{% extends "layout.html" %}
{% block page_title %} Apply for European Structural and Investment Funding {% endblock %}
{% block content %}

  <main id="content" role="main">
    {% include "includes/phase_banner_alpha.html" %}
    <div class="breadcrumbs">
      <ol>
        <li><a href="/dashboard">Dashboard</a></li>
        <li>Application overview</li>
      </ol>
    </div>
    <div class="main-header">
        <h1 class="heading-large">
          <span class="heading-secondary">Call OC04R15P0002</span>
          Application overview
        </h1>
    </div>
    <div class="main-content">
      <div class="application-status-list">
        <ol>
          <li>
            <span class="name">About your organisation</span>
            <span class="status-pill complete">complete</span>
            <a href="/applicant">edit</a>
          </li>
          <li>
            <span class="name">Project Partners</span>
            <span class="status-pill complete">complete</span>
            <a href="/project-partners">edit</a>
          </li>
          <li>
            <span class="name">About your project</span>
            <span class="status-pill complete">complete</span>
            <a href="/project">edit</a>
          </li>
          <li>
            <span class="name">Strategy</span>
            <span class="status-pill complete">complete</span>
            <a href="/strategy">edit</a>
          </li>
          <li>
            <span class="name">Financial</span>
            <span class="status-pill complete">complete</span>
            <a href="/financial">edit</a>
          </li>
          <li>
            <span class="name">Deliverables</span>
            <span class="status-pill error">error</span>
            <a href="javascript:void(0);">edit</a>
          </li>
          <li>
            <span class="name">Project management and control</span>
            <span class="status-pill review">review</span>
            <a href="/project-management">edit</a>
          </li>
          <li>
            <span class="name">Compliance</span>
            <span class="status-pill not-started">not started</span>
            <a href="/compliance">edit</a>
          </li>
        </ol>
      </div>
    </div>
    <div class="secondary-content">
      {% include "includes/application_info.html" %}
      {% include "includes/secondary_nav.html" %}
    </div>
  </main>

{% endblock %}
