{% extends "layout.html" %}

{% block page_title %}
  Apply for European Structural and Investment Funding
{% endblock %}

{% block content %}

<main id="content" role="main">
  {% include "includes/phase_banner_alpha.html" %}
  <header>
    <h1 class="heading-xlarge">Apply for European Structural and Investment Funding</h1>
  </header>
  <div class="grid-row">
    <div class="column-two-thirds">
      <div class="panel panel-border-wide">
        <p>Register for an <a href="#" rel="external"><span class="shout">e-claims</span> account</a> to manage your <abbr title="European Structural Investment Fund">ESIF</abbr> projects.</p>
      </div>
      <form action="/dashboard" method="get" class="form">
        <legend class="heading-medium"><span class="shout">e-claims</span> Login</legend>

        <!-- user ID -->
        <div class="form-group">
          <label class="form-label" for="user-id">
            User ID
            <span class="form-hint">Given to you when you registered</span>
          </label>
          <input type="text" class="form-control" id="user-id">
        </div>

        <!-- password -->
        <div class="form-group">
          <label class="form-label" for="user-password">Password</label>
          <input type="text" class="form-control" id="user-password">
        </div>

        <!-- Login button -->
        <div class="form-group">
          <input type="submit" class="button" value="Login">
        </div>
      </form>
    </div>
  </div>
</main>

{% endblock %}
